:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --header-bg-color: #ececec;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-bg-color: #eeeeee;
  --hover-button: #188ce8;
  --container-set-gap: 15px;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --section-padding: 94px;
  --section-gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Raleway', 'Arial', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-set-gap);
  padding-right: var(--container-set-gap);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* primary text color #757575 */
/* secondary text color #212121*/
/* accent color #2196f3 */
/* primary background color #f5f5f5 */
/* secondary background color #EEEEEE */
/* header background color #ececec */
/* footer background color #2F303A */
/* our team bcg color #F5F4FA */

/* Header customisation */

header {
  border-bottom: 1px solid var(--header-bg-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-header,
.logo-footer {
  display: block;

  text-decoration: none;
  font-family: Raleway, cursive;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.logo-header {
  margin-right: 93px;
}

.logo-part-one {
  color: var(--accent-color);
}

.logo-part-two {
  color: var(--primary-black-color);
}
.logo-part-three {
  color: var(--primary-white-color);
}

/* Site nav */

.site-nav {
  display: flex;
}

.site-nav .item + .item,
.contacts-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts nav */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* main customisation */
/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--footer-bg-color);
}

.button {
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  align-items: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-button);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.hero-container {
  width: 696px;
  margin: 0 auto;
  max-height: 200px;
}

.hero-container h1 {
  margin-bottom: var(--section-gap);
}

/* sections */

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.section-nopadding {
  padding-top: 0;
  padding-bottom: var(--section-padding);
}

.section > h3 {
  margin-bottom: 10px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.features {
  display: flex;
  gap: var(--section-gap);
}

.features-title {
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
}

.features .features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.product {
  display: flex;
  gap: var(--section-gap);
}

/* our team section */

.section-bg {
  background-color: var(--secondary-bg-color);
}

.team {
  display: flex;
  padding-inline-start: 0;
}

.team .link {
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: inherit;
  background-color: var(--primary-white-color);
}

.member-card {
  text-align: center;
  padding: var(--section-gap);
}

.member {
  border-radius: 8px;
  background-color: var(--primary-white-color);
}

.member-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.member-text {
  margin-top: 10px;
}

.team {
  gap: var(--section-gap);
}

/* footer customisation */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.page-footer address {
  line-height: 1.71;
  margin-top: 20px;
}

.footer-text {
  margin-top: 9px;
}

.address-nav {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address-nav .link {
  display: flex;
  flex-direction: column;

  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.ftwhite {
  color: var(--primary-white-color);
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

/* Портфоліо page customisation */

/* Button */

.btn {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;

  justify-content: center;
}

.item-btn {
  border-radius: 4px;
  border: none;
  border-color: transparent;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.63;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.item-btn:hover,
.item-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
}

/* Portfolio page customisation */

.flex-container {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;

  gap: var(--section-gap);

  /* margin-right: calc(-1 * var(--section-gap));
  margin-bottom: calc(-1 * var(--section-gap)); */
}

.flex-elements {
  width: calc((100% - 60px) / 3);
  /* margin-right: var(--section-gap);
  margin-bottom: var(--section-gap); */
  box-shadow: var(--box-shadow);
}

.project-content {
  padding: 20px 24px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
